* {
  box-sizing: border-box;
}

// Draggable
.draggable {
  padding-top: 20px;
}
.custom-draggable {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    top: 4px;
    left: 15px;
    content: '';
    width: calc(100% - 30px);
    height: 100%;
    z-index: 2;
    border: 1px solid rgb(var(--v-theme-pizazz));
    opacity: 0;
    transition: opacity 100ms ease 100ms;
    pointer-events: none;
  }

  &:hover {
    .custom-draggable-element,
    .custom-draggable-actions {
      opacity: 1;
    }

    &::before {
      opacity: 1;
    }
  }
}
.custom-draggable-inner {
  position: relative;
}
.custom-draggable-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 8px;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  pointer-events: none;
}
.custom-draggable-element {
  opacity: 0;
  transform: translateX(7px) translateY(-21px);
  transition: opacity 100ms ease 100ms;
}
.custom-draggable-actions {
  pointer-events: all;
  display: flex;
  transform: translateX(-2px) translateY(-28px) scale(0.8);
  border: 1px solid rgb(var(--v-theme-pizazz));
  opacity: 0;
  transition: opacity 100ms ease 100ms;
}
.custom-draggable-btn {
  background-color: white;
}